<div id="network-stats-div">
    <h5 style="margin-left:auto;margin-right:auto"><strong>Total Demand Satisfied: <%= globalStats.pctDemandSatisfied%>%</strong></h5>
    <table class="table" id="ctrl-network-stats">
        <tr>
            <th>Route</th>
            <th>Mode</th>
            <th>Ridership</th>
        </tr>
        <% for(var i = 0; i < routes.length; i++) { %>
        <%      var route = routes[i]; %>
        <%      var color = route.color; %>
        <tr>
            <td style="color:<%= color%>"><%= route.name%></td>
            <td style="color:<%= color%>"><%= route.mode%></td>
            <td style="color:<%= color%>"><%= route.ridership %>
                <span>
                    <button class="btn btn-default btn-xs delete-route-btn" id=<%= route.id%>>
                        <i class="glyphicon glyphicon-trash" id=<%= route.id%>></i>
                    </button>
                </span>
            </td>
        </tr>
        <% } %>
    </table>
</div>
